@model Exercice4.Models.Product

<h2>Détails du produit</h2>

<p><strong>Nom :</strong> @Model.Name</p>
<p><strong>Catégorie :</strong> @Model.Category</p>
<p><strong>Prix :</strong> @Model.Price €</p>
